
/* Mise en forme */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}


.container {
    width: 100%;
    margin: auto;
    transition: margin-left .5s;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 50px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Menu latéral */
.container span{
    position: static;
}

nav {
    font-family: "Lato", sans-serif;
    
  }
  
  .menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0d0d0d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
  }
  
  .menu a {
    padding: 8px 8px 32px;
    text-decoration: none;
    align-content: center;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-right: auto;
  }
  
  .menu a:hover {
    color: #f1f1f1;
  }
  
  .menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .menu .deconnexion{
    position: static;
    background-color: #e10909;
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: #0d0d0d;
  }
  
  .main {
    transition: margin-left .5s;
    padding: 16px;
    width: 150%;
  }

    /* Responsive */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

   
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    
}


@media screen and (max-height: 450px) {
    .menu {
        padding-top: 15px;
        }
    .menu a {
        font-size: 18px;
    }
    
    .post_add {
        margin-top: 50px;
    }
    

  }


/************************ VOTRE COMPTE ***********************/
div.compte{
    margin-left: 10%;
}
div.compte article{
    box-shadow: #0a0909;  
    display: inline-flex;
    margin-top: 5%;
}

div.compte a{
    font-size: 20px;
    margin: 20px;
    background-color: white;
    color: rgb(9, 3, 3);
    padding: 100px 100px;
    border:#e10909;
    border-radius: 50px;
    box-shadow: #c9f0c7;
    cursor: pointer;
    text-align: center;
}

div.compte a:hover{
    background-color: #edf7ec;
}
/********************************* INFORMATION DE PROFIL ******************************/
.profil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.infos_profil fieldset{
    background-color: white;
    border-radius: 30px;
    border-color: #b6dfb6;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 10px 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.infos_profil fieldset input:read-only{
    background-color: rgb(212, 212, 212);
}

.infos_profil label{
    margin: 5px 10px;
}

/************************** CANDIDATURES *********************/
.candidature{
    position: relative;
    margin:auto 10%; 
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

.candidature fieldset{
    margin: auto;
    background-color: white;
    border-radius: 30px;
    border-color: #d5edd6;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

.candidature input{
    width: 100%;
    border: none;
    background-color: none;
}

.candidature input::placeholder{
    font-style: italic;
}

.candidature object{
    text-align: center;
}

/************************** ANNONCES *************************/

.annonces{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post_add{
    position: static;
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
    margin:8px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
}
 .post_add:hover{
    background-color: #99f09c;
    border: none;
    border-radius: 5px;
 }

.ref_annonce{
    position: relative;
    margin:10px 10%;   
    width: 100%;
}


.ref_annonce fieldset {
    margin: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
    border-color: #d5edd6;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.ref_annonce fieldset label, textarea, a{
    flex-basis: 100%;
    border: none;
}

.ref_annonce fieldset {
    flex-basis: 35%;
    border: none;
}

.ref_annonce  {
    display: flex;
    flex-wrap: wrap;
    border: none;
}

.ref_annonce fieldset button{
    font-style: italic;
}

fieldset a{
    position: relative;
    left: 90%;
    color: brown;
}

/************************ NOUS CONTACTER ***********************/

.nous_contacter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 20px;
}

.nous_contacter input{
    background: #f4f4f4;
    border: none;
}

.nous_contacter textarea {
    display: flex;
    flex-direction: column;
    margin: auto 10%;
    width: 80%;
}

.nous_contacter fieldset{
    border-radius: 30px;
    border-color: #d5edd6;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

label.description{
    display: none;
}
